<nav>
  <ul>
    <img src="img/Logo.svg" class="logo_image" />
    <li>
      <a href="dashboard" class="menu_item">
        <img src="img/dash-icon-orange.svg" class="menu_item_image" ></img>
        Dashboard
      </a>
    </li>
    <li>
      <a href="nursery" class="menu_item">
        <img src="img/ico-colony-orange.svg" class="menu_item_image" />
        Nursery
      </a>
    </li>
    <li>
      <a href="rearing" class="menu_item">
        <img src="img/ico-feed-orange.svg" class="menu_item_image" />
        Rearing
      </a>
    </li>
    <li>
      <a href="reproduction" class="menu_item">
        <img src="img/ico-sensor-orange.svg" class="menu_item_image" />
        Reproduction
      </a>
    </li>

    <li>
      <a href="production" class="menu_item">
        <img src="img/ico-sensor-orange.svg" class="menu_item_image" />
        Production
      </a>
    </li>

    <li>
      <div class="menu_divider"></div>
    </li>

    <li>
      <a href="users" class="menu_item">
        <img src="img/ico-user-orange.svg" class="menu_item_image" />
        Users
      </a>
    </li>
    <li>
      <a href="settings" class="menu_item">
        <img src="img/ico-cog-orange.svg" class="menu_item_image" />
        Settings
      </a>
    </li>

  </ul>
</nav>