<nav>
  <ul>
    <img src="img/Logo.svg" class="logo_image" />
    <li>
      <img src="img/dash-icon-orange.svg" class="logo_image" />
      <a class="menu_item"> Colony  </a>
    </li>
    <li> Стадия развития </li>
    <li> Стадия развития </li>
    <li> Стадия развития </li>
  </ul>
</nav>