<link rel="stylesheet" type="text/css" href="/css/t_pageStyle.css">
<link rel="stylesheet" type="text/css" href="/css/colonyCartStyle.css">
<script type="module" src="/javascript/colonyCartScript.js"></script>




<div class="content">
    <div class="colony_cart_container">
        <div class="colony_cart_container_title">
            Basic info
        </div>
         <div class="colony_cart_grid-container">
            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Colony ID: </div> 
                <div class="colony_cart_string_value"> {{this.basicInfo.ColoniesId}} </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Stage: </div> 
                <div class="colony_cart_string_value"> {{this.basicInfo.Stage}}</div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Parent colony ID: </div> 
                <div class="colony_cart_string_value"> none </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Colony date: </div> 
                <div class="colony_cart_string_value"> {{this.basicInfo.ColonyDate}} </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Colony age, days: </div> 
                <div class="colony_cart_string_value"> 121 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Location: </div> 
                <div class="colony_cart_string_value"> 23 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Comments: </div> 
            </div>
         </div>

    </div>

    <div class="colony_cart_container">
        <div class="colony_cart_container_title">
            Incubation
        </div>
         <div class="colony_cart_grid-container">
            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Egg density, g/bin: </div> 
                <div class="colony_cart_string_value"> 3 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> BS feed bins: </div> 
                <div class="colony_cart_string_value"> 129 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> PRO feed bins: </div> 
                <div class="colony_cart_string_value"> 5 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Residue mass, kg: </div> 
                <div class="colony_cart_string_value"> 5 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> R feed bins: </div> 
                <div class="colony_cart_string_value">  </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> 6-DOL mass, kg: </div> 
                <div class="colony_cart_string_value"> 1 </div>
            </div>
            
        </div>
        <div class="colony_cart_incubation_addition">
            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key_incubation_addition"> 6-DOL mass, kg: </div> 
                <div class="colony_cart_string_value"> 1 </div>
            </div>
            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key_incubation_addition"> 6-DOL mass, kg: </div> 
                <div class="colony_cart_string_value"> 1 </div>
            </div>
            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key_incubation_addition"> 6-DOL mass, kg: </div> 
                <div class="colony_cart_string_value"> 1 </div>
            </div>
        </div>
    </div>
    <div class="colony_cart_container">
        <div class="colony_cart_container_title">
            Product lines
        </div>

        <div class="colony_cart_container_product_line">

            <div class="colony_cart_container_product_line_label">
                Hello World                
            </div>

            <div class="colony_cart_container_product_line_info">

                <div class="colony_cart_string"> 
                    <div class="colony_cart_string_key"> R feed bins: </div> 
                    <div class="colony_cart_string_value">  </div>
                </div>

                <div class="colony_cart_string"> 
                    <div class="colony_cart_string_key"> 6-DOL mass, kg: </div> 
                    <div class="colony_cart_string_value"> 1 </div>
                </div>
                
            </div>

        </div>
    </div>

    <div class="colony_cart_container">
        <div class="colony_cart_container_title">
            Feedings
        </div>

    </div>
</div>