<link rel="stylesheet" type="text/css" href="css/t_pageStyle.css">

<div class="content">
    <div class="colony_cart_container">
        <div class="colony_cart_container_title">
            Basic info
        </div>
         <div class="colony_cart_grid-container">
            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Colony ID: </div> 
                <div class="colony_cart_string_value"> {{this.basicInfo.ColoniesId}} </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Stage: </div> 
                <div class="colony_cart_string_value"> {{this.basicInfo.Stage}}</div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Parent colony ID: </div> 
                <div class="colony_cart_string_value"> none </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Colony date: </div> 
                <div class="colony_cart_string_value"> {{this.basicInfo.ColonyDate}} </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Colony age, days: </div> 
                <div class="colony_cart_string_value"> 121 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Location: </div> 
                <div class="colony_cart_string_value"> 23 </div>
            </div>

            <div class="colony_cart_string"> 
                <div class="colony_cart_string_key"> Comments: </div> 
            </div>


         </div>

    </div>
</div>