<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="/css/dashboardStyle.css">
<link rel="stylesheet" type="text/css" href="/css/checkBox.css">

<script>
    //Тут располагаем инофрмацию для графиков температуры
    var temperature_mounths = new Array();
    var temperature_values  = new Array();

    {{#each this.Temperature}}
        temperature_mounths.push("{{this.mounth}}");
        temperature_values.push("{{this.value}}");
    {{/each}}
    
    //Тут располагаем инофрмацию для графиков влажности
    var Humidity_values = new Array();
    var humidity_hours = new Array();

    {{#each this.Humidity}}
        humidity_hours.push("{{this.hour}}");
        Humidity_values.push("{{this.value}}");
    {{/each}}

</script>

<script type="module" src="/javascript/dashboardScript.js"></script>



<center_area>
     <div class="dash_board_container">

        <div class="dashboard_meta_coontainer">

            <div class="dashboard_meta_data_header_container">
                <div>
                    <div class="dashboard_meta_data">
                        <div class="key">  Surface pressure: </div>
                        <div class="value"> 1016.1 hPa </div>
                    </div>
                
                    <div class="dashboard_meta_data">
                        <div class="key">  Facility lighting: </div>
                        <div class="value">  312 lux  </div>
                    </div>

                    <div class="dashboard_meta_data">
                        <div class="key"> Feed amount in stock:  </div>
                        <div class="value"> 138kg </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="layout_charts">
            <div>
                <div class="chart_title"> Temperature ℃ </div>
                <canvas class="chart" id="myChart"></canvas>
            </div>

            <div>
                <div class="chart_title"> Humidity % </div>
                <canvas class="chart" id="myChart2"></canvas>
            </div>

            <div>
                <div class="chart_title"> FCR </div>
                <canvas class="chart" id="myChart3"></canvas>
            </div>
            
        </div>

        
    </div>       
</center_area>

<right_area>
    <div class="dashboard_notifications">
        <div class="dashboard_notifications_title"> Notifications </div>

        <div class="dashboard_notifications_checkboxs"> 
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>
            
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

        </div>
        
    </div>

    <div class="dashboard_notifications">
        <div class="dashboard_notifications_title"> Notifications </div>

        <div class="dashboard_notifications_checkboxs"> 
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>
            
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

        </div>
        
    </div>

    
</right_area>
