<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/javascript/dashboard/dashboardInfoScript.js"></script>
<script type="module" src="/javascript/dashboard/dashboardChartScript.js"></script>
<script type="module" src="/javascript/dashboard/dashboardScoreboardScript.js"></script>


<link rel="stylesheet" type="text/css" href="/css/dashboardStyle.css">
<link rel="stylesheet" type="text/css" href="/css/checkBox.css">

<a id="pageName" style="display: none;" name="dashboard"> </a>

<center_area>
     <div class="dash_board_container">

        <div class="dashboard_meta_coontainer">

            <div class="dashboard_meta_data_header_container">
                <div>
                    <div class="dashboard_meta_data">
                        <div class="key">  Surface pressure: </div>
                        <div class="value"> 1016.1 hPa </div>
                    </div>
                
                    <div class="dashboard_meta_data">
                        <div class="key">  Facility lighting: </div>
                        <div class="value">  312 lux  </div>
                    </div>

                    <div class="dashboard_meta_data">
                        <div class="key"> Feed amount in stock:  </div>
                        <div class="value"> 138kg </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="layout_charts">
            <div>
                <div class="chart_title"> Temperature ℃ </div>
                <canvas class="chart" id="myChart"></canvas>
            </div>

            <div>
                <div class="chart_title"> Humidity % </div>
                <canvas class="chart" id="myChart2"></canvas>
            </div>

            <div>
                <div class="chart_title"> FCR </div>
                <canvas class="chart" id="myChart3"></canvas>
            </div>
            
        </div>

        
    </div>       
</center_area>

<right_area>
    <div class="dashboard_notifications">
        <div class="dashboard_notifications_title"> Notifications </div>

        <div class="dashboard_notifications_checkboxs"> 
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>
            
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>

            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>
            
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>
            <label class="dashboard_notifications_checkbox">

                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">

                <div class="border">
                    <div class="circle"></div>
                </div>

                <label class="dashboard_notifications_item" for="vehicle1">
                        Colony 8, Add Feed
                </label>
                <div class="date"> 23.01.23 </div>
            </label>
        </div>
        
    </div>

    <div class="dashboard_scoreboard_box">
        <div class="section">

            <div class="firstrow">
                <label> Temperature: </label>
                <div class="score" id="temperature"> 32.9 </div>
            </div>

            <div class="firstrow">
                <label> Humidity: </label>
                <div class="score" id="humidity"> 73.1 </div>
            </div>
        </div>

        <div class="section">
            <div class="secondrow">
                <div class="title"> CO2, ppm </div>

                <div class="line">
                        <label> MAX: </label> <div class="score" id="co2_ppm_max"> 1100</div>
                </div>

                <div class="line">
                        <label> AVERAGE: </label> <div class="score"  id="co2_ppm_average"> 966.67</div>
                </div>

                <div class="line">
                        <label> MIN: </label> <div class="score"  id="co2_ppm_min"> 800</div>
                </div>
            </div>

            <div class="secondrow">
                <div class="title"> NH3, % </div>
                <div class="line">
                        <label> MAX: </label> <div class="score" id="nh3_max"> N/A</div>
                </div>
                <div class="line">
                        <label> AVERAGE: </label> <div class="score" id="nh3_average"> N/A</div>
                </div>
                <div class="line">
                        <label> MIN: </label> <div class="score" id="nh3_min"> N/A</div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="thirdrow">
                <div class="title"> Farm results, kg </div>
                <div class="line">
                    <label> Crickets: </label> <div class="score" id="farm_results_crickets"> 14 789</div>
                </div>

                <div class="line">
                    <label> Frass: </label> <div class="score" id="farm_results_frass"> 15 621</div>
                </div>
            </div>

            <div class="thirdrow">
                <div class="title"> Prediction, kg </div>

                <div class="line">
                    <label> Crickets: </label> <div class="score" id="prediction_crickets"> 15 433</div>
                </div>

                <div class="line">
                    <label> Frass: </label> <div class="score" id="prediction_frass"> 16 029</div>
                </div>

            </div>

        </div>
    </div>
    
    <svg width="80%" height="375" viewBox="0 0 653 375" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path d="M11.016 6.296H1.8V23H11.016V20.768H4.536V15.656H10.296V13.424H4.536V8.528H11.016V6.296ZM24.2499 19.304C24.1059 14.528 16.6419 16.016 16.6419 13.352C16.6419 12.464 17.4099 11.864 18.8739 11.864C20.3619 11.864 21.2499 12.656 21.3459 13.808H24.0819C23.9379 11.168 21.9699 9.56 18.9699 9.56C15.8499 9.56 13.8819 11.264 13.8819 13.376C13.8819 18.224 21.5619 16.736 21.5619 19.328C21.5619 20.24 20.7219 20.912 19.1379 20.912C17.6259 20.912 16.5939 20.024 16.4979 18.944H13.6659C13.7859 21.344 16.0179 23.216 19.1859 23.216C22.3059 23.216 24.2499 21.536 24.2499 19.304ZM27.6383 19.328C27.6383 22.016 29.1023 23 31.4543 23H33.6143V20.72H31.9343C30.7823 20.72 30.3983 20.312 30.3983 19.328V12.008H33.6143V9.776H30.3983V6.488H27.6383V9.776H26.0783V12.008H27.6383V19.328ZM36.1359 23H38.8719V9.776H36.1359V23ZM37.5279 8.024C38.4879 8.024 39.2559 7.256 39.2559 6.272C39.2559 5.288 38.4879 4.52 37.5279 4.52C36.5439 4.52 35.7759 5.288 35.7759 6.272C35.7759 7.256 36.5439 8.024 37.5279 8.024ZM61.2081 23H63.9201V15.2C63.9201 11.504 61.5681 9.56 58.4721 9.56C56.5521 9.56 54.6801 10.568 53.8641 12.176C52.9521 10.448 51.2001 9.56 49.1121 9.56C47.5281 9.56 46.0881 10.208 45.2001 11.288V9.776H42.4641V23H45.2001V15.608C45.2001 13.184 46.5201 11.936 48.5361 11.936C50.5281 11.936 51.8481 13.184 51.8481 15.608V23H54.5601V15.608C54.5601 13.184 55.8801 11.936 57.8961 11.936C59.8881 11.936 61.2081 13.184 61.2081 15.608V23ZM66.4896 16.328C66.4896 20.408 69.2496 23.216 72.6816 23.216C74.8896 23.216 76.4736 22.16 77.3136 21.032V23H80.0736V9.776H77.3136V11.696C76.4976 10.616 74.9616 9.56 72.7296 9.56C69.2496 9.56 66.4896 12.248 66.4896 16.328ZM77.3136 16.376C77.3136 19.232 75.3696 20.84 73.3056 20.84C71.2656 20.84 69.2976 19.184 69.2976 16.328C69.2976 13.472 71.2656 11.936 73.3056 11.936C75.3696 11.936 77.3136 13.544 77.3136 16.376ZM84.0992 19.328C84.0992 22.016 85.5632 23 87.9152 23H90.0752V20.72H88.3952C87.2432 20.72 86.8592 20.312 86.8592 19.328V12.008H90.0752V9.776H86.8592V6.488H84.0992V9.776H82.5392V12.008H84.0992V19.328ZM98.1649 11.864C100.205 11.864 101.813 13.16 101.861 15.2H94.5409C94.8289 13.112 96.3169 11.864 98.1649 11.864ZM104.357 19.064H101.405C100.901 20.096 99.9649 20.912 98.2849 20.912C96.2689 20.912 94.7089 19.592 94.5169 17.408H104.621C104.693 16.952 104.717 16.52 104.717 16.064C104.717 12.176 102.053 9.56 98.2849 9.56C94.3729 9.56 91.6849 12.224 91.6849 16.376C91.6849 20.528 94.4929 23.216 98.2849 23.216C101.525 23.216 103.613 21.368 104.357 19.064ZM106.497 16.328C106.497 20.408 109.257 23.216 112.737 23.216C114.897 23.216 116.481 22.208 117.321 21.008V23H120.081V5.24H117.321V11.624C116.313 10.376 114.489 9.56 112.761 9.56C109.257 9.56 106.497 12.248 106.497 16.328ZM117.321 16.376C117.321 19.232 115.377 20.84 113.313 20.84C111.273 20.84 109.305 19.184 109.305 16.328C109.305 13.472 111.273 11.936 113.313 11.936C115.377 11.936 117.321 13.544 117.321 16.376ZM139.293 23H142.005V15.2C142.005 11.504 139.677 9.56 136.581 9.56C134.997 9.56 133.533 10.208 132.645 11.288V9.776H129.909V23H132.645V15.608C132.645 13.184 133.965 11.936 135.981 11.936C137.973 11.936 139.293 13.184 139.293 15.608V23ZM157.471 9.776H154.735V17.144C154.735 19.568 153.415 20.816 151.399 20.816C149.407 20.816 148.087 19.568 148.087 17.144V9.776H145.375V17.552C145.375 21.248 147.727 23.192 150.823 23.192C152.383 23.192 153.871 22.544 154.735 21.416V23H157.471V9.776ZM179.825 23H182.537V15.2C182.537 11.504 180.185 9.56 177.089 9.56C175.169 9.56 173.297 10.568 172.481 12.176C171.569 10.448 169.817 9.56 167.729 9.56C166.145 9.56 164.705 10.208 163.817 11.288V9.776H161.081V23H163.817V15.608C163.817 13.184 165.137 11.936 167.153 11.936C169.145 11.936 170.465 13.184 170.465 15.608V23H173.177V15.608C173.177 13.184 174.497 11.936 176.513 11.936C178.505 11.936 179.825 13.184 179.825 15.608V23ZM188.755 11.744V5.24H186.019V23H188.755V21.08C189.619 22.232 191.179 23.216 193.363 23.216C196.843 23.216 199.579 20.408 199.579 16.328C199.579 12.248 196.867 9.56 193.363 9.56C191.275 9.56 189.619 10.544 188.755 11.744ZM196.795 16.328C196.795 19.184 194.827 20.84 192.763 20.84C190.723 20.84 188.755 19.232 188.755 16.376C188.755 13.544 190.723 11.936 192.763 11.936C194.827 11.936 196.795 13.472 196.795 16.328ZM207.852 11.864C209.892 11.864 211.5 13.16 211.548 15.2H204.228C204.516 13.112 206.004 11.864 207.852 11.864ZM214.044 19.064H211.092C210.588 20.096 209.652 20.912 207.972 20.912C205.956 20.912 204.396 19.592 204.204 17.408H214.308C214.38 16.952 214.404 16.52 214.404 16.064C214.404 12.176 211.74 9.56 207.972 9.56C204.06 9.56 201.372 12.224 201.372 16.376C201.372 20.528 204.18 23.216 207.972 23.216C211.212 23.216 213.3 21.368 214.044 19.064ZM219.833 16.04C219.833 13.232 221.081 12.392 223.097 12.392H223.793V9.56C221.921 9.56 220.601 10.376 219.833 11.696V9.776H217.097V23H219.833V16.04ZM245.142 16.376C245.142 12.224 242.166 9.56 238.398 9.56C234.63 9.56 231.654 12.224 231.654 16.376C231.654 20.528 234.51 23.216 238.278 23.216C242.07 23.216 245.142 20.528 245.142 16.376ZM234.438 16.376C234.438 13.376 236.286 11.936 238.35 11.936C240.39 11.936 242.334 13.376 242.334 16.376C242.334 19.376 240.318 20.84 238.278 20.84C236.214 20.84 234.438 19.376 234.438 16.376ZM248.183 23H250.943V12.008H253.391V9.776H250.943V8.84C250.943 7.328 251.519 6.752 253.199 6.752V4.472C249.743 4.472 248.183 5.792 248.183 8.84V9.776H246.623V12.008H248.183V23ZM261.138 16.376C261.138 20.528 263.826 23.216 267.618 23.216C270.858 23.216 272.97 21.416 273.714 18.824H270.762C270.258 20.192 269.25 20.912 267.618 20.912C265.41 20.912 263.946 19.28 263.946 16.376C263.946 13.496 265.41 11.864 267.618 11.864C269.25 11.864 270.306 12.68 270.762 13.952H273.714C272.97 11.168 270.858 9.56 267.618 9.56C263.826 9.56 261.138 12.248 261.138 16.376ZM279.177 16.04C279.177 13.232 280.425 12.392 282.441 12.392H283.137V9.56C281.265 9.56 279.945 10.376 279.177 11.696V9.776H276.441V23H279.177V16.04ZM285.652 23H288.388V9.776H285.652V23ZM287.044 8.024C288.004 8.024 288.772 7.256 288.772 6.272C288.772 5.288 288.004 4.52 287.044 4.52C286.06 4.52 285.292 5.288 285.292 6.272C285.292 7.256 286.06 8.024 287.044 8.024ZM291.068 16.376C291.068 20.528 293.756 23.216 297.548 23.216C300.788 23.216 302.9 21.416 303.644 18.824H300.692C300.188 20.192 299.18 20.912 297.548 20.912C295.34 20.912 293.876 19.28 293.876 16.376C293.876 13.496 295.34 11.864 297.548 11.864C299.18 11.864 300.236 12.68 300.692 13.952H303.644C302.9 11.168 300.788 9.56 297.548 9.56C293.756 9.56 291.068 12.248 291.068 16.376ZM306.37 23H309.106V17.312L314.002 23H317.698L311.602 16.4L317.698 9.776H313.906L309.106 15.56V5.24H306.37V23ZM325.227 11.864C327.267 11.864 328.875 13.16 328.923 15.2H321.603C321.891 13.112 323.379 11.864 325.227 11.864ZM331.419 19.064H328.467C327.963 20.096 327.027 20.912 325.347 20.912C323.331 20.912 321.771 19.592 321.579 17.408H331.683C331.755 16.952 331.779 16.52 331.779 16.064C331.779 12.176 329.115 9.56 325.347 9.56C321.435 9.56 318.747 12.224 318.747 16.376C318.747 20.528 321.555 23.216 325.347 23.216C328.587 23.216 330.675 21.368 331.419 19.064ZM334.904 19.328C334.904 22.016 336.368 23 338.72 23H340.88V20.72H339.2C338.048 20.72 337.664 20.312 337.664 19.328V12.008H340.88V9.776H337.664V6.488H334.904V9.776H333.344V12.008H334.904V19.328ZM353.266 19.304C353.122 14.528 345.658 16.016 345.658 13.352C345.658 12.464 346.426 11.864 347.89 11.864C349.378 11.864 350.266 12.656 350.362 13.808H353.098C352.954 11.168 350.986 9.56 347.986 9.56C344.866 9.56 342.898 11.264 342.898 13.376C342.898 18.224 350.578 16.736 350.578 19.328C350.578 20.24 349.738 20.912 348.154 20.912C346.642 20.912 345.61 20.024 345.514 18.944H342.682C342.802 21.344 345.034 23.216 348.202 23.216C351.322 23.216 353.266 21.536 353.266 19.304ZM362.456 23H365.192V9.776H362.456V23ZM363.848 8.024C364.808 8.024 365.576 7.256 365.576 6.272C365.576 5.288 364.808 4.52 363.848 4.52C362.864 4.52 362.096 5.288 362.096 6.272C362.096 7.256 362.864 8.024 363.848 8.024ZM378.648 19.304C378.504 14.528 371.04 16.016 371.04 13.352C371.04 12.464 371.808 11.864 373.272 11.864C374.76 11.864 375.648 12.656 375.744 13.808H378.48C378.336 11.168 376.368 9.56 373.368 9.56C370.248 9.56 368.28 11.264 368.28 13.376C368.28 18.224 375.96 16.736 375.96 19.328C375.96 20.24 375.12 20.912 373.536 20.912C372.024 20.912 370.992 20.024 370.896 18.944H368.064C368.184 21.344 370.416 23.216 373.584 23.216C376.704 23.216 378.648 21.536 378.648 19.304ZM387.431 9.824H390.095C390.263 8.6 391.151 7.448 393.071 7.448C394.943 7.448 395.927 8.456 395.927 9.968C395.927 11.84 394.415 12.56 391.943 12.584H391.295V14.84H391.919C394.775 14.84 396.263 15.632 396.263 17.936C396.263 19.568 395.255 20.816 393.215 20.816C391.151 20.816 389.951 19.568 389.831 17.936H387.191C387.359 21.368 389.927 23.096 393.239 23.096C396.887 23.096 398.855 20.984 398.855 18.2C398.855 15.776 397.679 14.264 395.855 13.712V13.616C397.223 13.16 398.543 11.744 398.543 9.656C398.543 7.112 396.647 5.096 393.167 5.096C389.975 5.096 387.623 6.8 387.431 9.824ZM402.449 5.456V15.56H405.041C405.497 14.264 406.577 13.376 408.185 13.376C410.465 13.376 411.593 14.672 411.593 16.952C411.593 19.112 410.537 20.72 408.185 20.72C406.337 20.72 405.089 19.76 404.729 18.272H402.065C402.473 21.008 404.561 23 408.161 23C412.217 23 414.209 20.36 414.209 16.88C414.209 14.24 412.889 11.048 408.593 11.048C407.033 11.048 405.617 11.768 404.969 12.632V7.856H413.009V5.456H402.449ZM428.985 9.56C428.697 7.232 426.993 5.072 423.585 5.072C419.217 5.072 417.393 8.384 417.393 13.856C417.393 19.424 418.713 23 423.801 23C427.545 23 429.537 20.48 429.537 17.168C429.537 13.52 427.305 11.408 424.161 11.408C422.337 11.408 420.609 12.176 419.745 13.616C419.817 9.032 421.089 7.352 423.561 7.352C425.289 7.352 426.129 8.144 426.465 9.56H428.985ZM423.561 13.712C425.865 13.712 426.921 15.2 426.921 17.288C426.921 19.352 425.673 20.72 423.657 20.72C421.329 20.72 420.057 19.28 420.057 17.12C420.057 14.792 421.761 13.712 423.561 13.712Z" fill="#3ECD81"/>
        <line x1="128.5" y1="341" x2="128.5" y2="330" stroke="#221D34"/>
        <line x1="211.5" y1="341" x2="211.5" y2="330" stroke="#221D34"/>
        <line x1="294.5" y1="341" x2="294.5" y2="330" stroke="#221D34"/>
        <line x1="377.5" y1="341" x2="377.5" y2="330" stroke="#221D34"/>
        <line x1="460.5" y1="341" x2="460.5" y2="330" stroke="#221D34"/>
        <line x1="40" y1="288.5" x2="51" y2="288.5" stroke="#221D34"/>
        <line x1="40" y1="242.5" x2="51" y2="242.5" stroke="#221D34"/>
        <line x1="40" y1="196.5" x2="51" y2="196.5" stroke="#221D34"/>
        <line x1="40" y1="150.5" x2="51" y2="150.5" stroke="#221D34"/>
        <line x1="40" y1="104.5" x2="51" y2="104.5" stroke="#221D34"/>
        <line x1="40" y1="58.5" x2="51" y2="58.5" stroke="#221D34"/>
        <line x1="45" y1="335.5" x2="544" y2="335.5" stroke="#221D34"/>
        <line x1="45.5" y1="341" x2="45.5" y2="330" stroke="#221D34"/>
        <path d="M16.9451 59.096C16.9451 62.456 17.7771 65 20.9771 65C24.1611 65 24.9931 62.456 24.9931 59.096C24.9931 55.784 24.1611 53.256 20.9771 53.256C17.7771 53.256 16.9451 55.784 16.9451 59.096ZM23.5531 59.096C23.5531 61.592 23.2491 63.672 20.9771 63.672C18.6891 63.672 18.3851 61.592 18.3851 59.096C18.3851 56.696 18.6891 54.584 20.9771 54.584C23.2491 54.584 23.5531 56.696 23.5531 59.096Z" fill="#828282"/>
        <path d="M7.566 110.872H15.262V109.656H9.758C11.822 107.976 14.926 105.528 14.926 102.648C14.926 100.504 13.518 99.224 11.342 99.224C9.262 99.224 7.71 100.504 7.614 102.968H9.022C9.086 101.512 9.854 100.472 11.358 100.472C12.926 100.472 13.486 101.432 13.486 102.712C13.486 105.08 10.606 107.384 7.566 109.832V110.872ZM17.3611 99.416V105.944H18.7371C19.1211 105.032 19.9691 104.424 21.1371 104.424C22.8171 104.424 23.6651 105.384 23.6651 107.032C23.6651 108.616 22.8811 109.8 21.1211 109.8C19.7611 109.8 18.8171 109.08 18.5451 107.864H17.1211C17.4091 109.736 18.8011 111.032 21.1051 111.032C23.8091 111.032 25.0571 109.24 25.0571 107C25.0571 105.208 24.1611 103.176 21.3451 103.176C20.2091 103.176 19.1851 103.688 18.7051 104.344V100.696H24.3211V99.416H17.3611Z" fill="#828282"/>
        <path d="M7.31425 145.416V151.944H8.69025C9.07425 151.032 9.92225 150.424 11.0903 150.424C12.7703 150.424 13.6183 151.384 13.6183 153.032C13.6183 154.616 12.8343 155.8 11.0743 155.8C9.71425 155.8 8.77025 155.08 8.49825 153.864H7.07425C7.36225 155.736 8.75425 157.032 11.0583 157.032C13.7623 157.032 15.0103 155.24 15.0103 153C15.0103 151.208 14.1143 149.176 11.2983 149.176C10.1623 149.176 9.13825 149.688 8.65825 150.344V146.696H14.2743V145.416H7.31425ZM16.9451 151.096C16.9451 154.456 17.7771 157 20.9771 157C24.1611 157 24.9931 154.456 24.9931 151.096C24.9931 147.784 24.1611 145.256 20.9771 145.256C17.7771 145.256 16.9451 147.784 16.9451 151.096ZM23.5531 151.096C23.5531 153.592 23.2491 155.672 20.9771 155.672C18.6891 155.672 18.3851 153.592 18.3851 151.096C18.3851 148.696 18.6891 146.584 20.9771 146.584C23.2491 146.584 23.5531 148.696 23.5531 151.096Z" fill="#828282"/>
        <path d="M7.74675 191.464V192.712H13.9228L9.41075 203H10.8828L15.3308 192.568V191.464H7.74675ZM17.3611 191.416V197.944H18.7371C19.1211 197.032 19.9691 196.424 21.1371 196.424C22.8171 196.424 23.6651 197.384 23.6651 199.032C23.6651 200.616 22.8811 201.8 21.1211 201.8C19.7611 201.8 18.8171 201.08 18.5451 199.864H17.1211C17.4091 201.736 18.8011 203.032 21.1051 203.032C23.8091 203.032 25.0571 201.24 25.0571 199C25.0571 197.208 24.1611 195.176 21.3451 195.176C20.2091 195.176 19.1851 195.688 18.7051 196.344V192.696H24.3211V191.416H17.3611Z" fill="#828282"/>
        <path d="M2.92525 249H4.39725V237.432H1.38925V238.76H2.92525V249ZM6.89825 243.096C6.89825 246.456 7.73025 249 10.9303 249C14.1143 249 14.9462 246.456 14.9462 243.096C14.9462 239.784 14.1143 237.256 10.9303 237.256C7.73025 237.256 6.89825 239.784 6.89825 243.096ZM13.5063 243.096C13.5063 245.592 13.2023 247.672 10.9303 247.672C8.64225 247.672 8.33825 245.592 8.33825 243.096C8.33825 240.696 8.64225 238.584 10.9303 238.584C13.2023 238.584 13.5063 240.696 13.5063 243.096ZM16.9451 243.096C16.9451 246.456 17.7771 249 20.9771 249C24.1611 249 24.9931 246.456 24.9931 243.096C24.9931 239.784 24.1611 237.256 20.9771 237.256C17.7771 237.256 16.9451 239.784 16.9451 243.096ZM23.5531 243.096C23.5531 245.592 23.2491 247.672 20.9771 247.672C18.6891 247.672 18.3851 245.592 18.3851 243.096C18.3851 240.696 18.6891 238.584 20.9771 238.584C23.2491 238.584 23.5531 240.696 23.5531 243.096Z" fill="#828282"/>
        <path d="M3.769 295H5.241V283.432H2.233V284.76H3.769V295ZM7.566 294.872H15.262V293.656H9.758C11.822 291.976 14.926 289.528 14.926 286.648C14.926 284.504 13.518 283.224 11.342 283.224C9.262 283.224 7.71 284.504 7.614 286.968H9.022C9.086 285.512 9.854 284.472 11.358 284.472C12.926 284.472 13.486 285.432 13.486 286.712C13.486 289.08 10.606 291.384 7.566 293.832V294.872ZM17.3611 283.416V289.944H18.7371C19.1211 289.032 19.9691 288.424 21.1371 288.424C22.8171 288.424 23.6651 289.384 23.6651 291.032C23.6651 292.616 22.8811 293.8 21.1211 293.8C19.7611 293.8 18.8171 293.08 18.5451 291.864H17.1211C17.4091 293.736 18.8011 295.032 21.1051 295.032C23.8091 295.032 25.0571 293.24 25.0571 291C25.0571 289.208 24.1611 287.176 21.3451 287.176C20.2091 287.176 19.1851 287.688 18.7051 288.344V284.696H24.3211V283.416H17.3611Z" fill="#828282"/>
        <path d="M2.92525 341H4.39725V329.432H1.38925V330.76H2.92525V341ZM7.31425 329.416V335.944H8.69025C9.07425 335.032 9.92225 334.424 11.0903 334.424C12.7703 334.424 13.6183 335.384 13.6183 337.032C13.6183 338.616 12.8343 339.8 11.0743 339.8C9.71425 339.8 8.77025 339.08 8.49825 337.864H7.07425C7.36225 339.736 8.75425 341.032 11.0583 341.032C13.7623 341.032 15.0103 339.24 15.0103 337C15.0103 335.208 14.1143 333.176 11.2983 333.176C10.1623 333.176 9.13825 333.688 8.65825 334.344V330.696H14.2743V329.416H7.31425ZM16.9451 335.096C16.9451 338.456 17.7771 341 20.9771 341C24.1611 341 24.9931 338.456 24.9931 335.096C24.9931 331.784 24.1611 329.256 20.9771 329.256C17.7771 329.256 16.9451 331.784 16.9451 335.096ZM23.5531 335.096C23.5531 337.592 23.2491 339.672 20.9771 339.672C18.6891 339.672 18.3851 337.592 18.3851 335.096C18.3851 332.696 18.6891 330.584 20.9771 330.584C23.2491 330.584 23.5531 332.696 23.5531 335.096Z" fill="#828282"/>
        <path d="M42.4686 364.096C42.4686 367.456 43.3006 370 46.5006 370C49.6846 370 50.5166 367.456 50.5166 364.096C50.5166 360.784 49.6846 358.256 46.5006 358.256C43.3006 358.256 42.4686 360.784 42.4686 364.096ZM49.0766 364.096C49.0766 366.592 48.7726 368.672 46.5006 368.672C44.2126 368.672 43.9086 366.592 43.9086 364.096C43.9086 361.696 44.2126 359.584 46.5006 359.584C48.7726 359.584 49.0766 361.696 49.0766 364.096Z" fill="#828282"/>
        <path d="M120.861 358.416V364.944H122.237C122.621 364.032 123.469 363.424 124.637 363.424C126.317 363.424 127.165 364.384 127.165 366.032C127.165 367.616 126.381 368.8 124.621 368.8C123.261 368.8 122.317 368.08 122.045 366.864H120.621C120.909 368.736 122.301 370.032 124.605 370.032C127.309 370.032 128.557 368.24 128.557 366C128.557 364.208 127.661 362.176 124.845 362.176C123.709 362.176 122.685 362.688 122.205 363.344V359.696H127.821V358.416H120.861ZM130.492 364.096C130.492 367.456 131.324 370 134.524 370C137.708 370 138.54 367.456 138.54 364.096C138.54 360.784 137.708 358.256 134.524 358.256C131.324 358.256 130.492 360.784 130.492 364.096ZM137.1 364.096C137.1 366.592 136.796 368.672 134.524 368.672C132.236 368.672 131.932 366.592 131.932 364.096C131.932 361.696 132.236 359.584 134.524 359.584C136.796 359.584 137.1 361.696 137.1 364.096Z" fill="#828282"/>
        <path d="M200.535 370H202.007V358.432H198.999V359.76H200.535V370ZM204.508 364.096C204.508 367.456 205.34 370 208.54 370C211.724 370 212.556 367.456 212.556 364.096C212.556 360.784 211.724 358.256 208.54 358.256C205.34 358.256 204.508 360.784 204.508 364.096ZM211.116 364.096C211.116 366.592 210.812 368.672 208.54 368.672C206.252 368.672 205.948 366.592 205.948 364.096C205.948 361.696 206.252 359.584 208.54 359.584C210.812 359.584 211.116 361.696 211.116 364.096ZM214.555 364.096C214.555 367.456 215.387 370 218.587 370C221.771 370 222.602 367.456 222.602 364.096C222.602 360.784 221.771 358.256 218.587 358.256C215.387 358.256 214.555 360.784 214.555 364.096ZM221.163 364.096C221.163 366.592 220.859 368.672 218.587 368.672C216.299 368.672 215.995 366.592 215.995 364.096C215.995 361.696 216.299 359.584 218.587 359.584C220.859 359.584 221.163 361.696 221.163 364.096Z" fill="#828282"/>
        <path d="M283.535 370H285.007V358.432H281.999V359.76H283.535V370ZM287.924 358.416V364.944H289.3C289.684 364.032 290.532 363.424 291.7 363.424C293.38 363.424 294.228 364.384 294.228 366.032C294.228 367.616 293.444 368.8 291.684 368.8C290.324 368.8 289.38 368.08 289.108 366.864H287.684C287.972 368.736 289.364 370.032 291.668 370.032C294.372 370.032 295.62 368.24 295.62 366C295.62 364.208 294.724 362.176 291.908 362.176C290.772 362.176 289.748 362.688 289.268 363.344V359.696H294.884V358.416H287.924ZM297.555 364.096C297.555 367.456 298.387 370 301.587 370C304.771 370 305.602 367.456 305.602 364.096C305.602 360.784 304.771 358.256 301.587 358.256C298.387 358.256 297.555 360.784 297.555 364.096ZM304.163 364.096C304.163 366.592 303.859 368.672 301.587 368.672C299.299 368.672 298.995 366.592 298.995 364.096C298.995 361.696 299.299 359.584 301.587 359.584C303.859 359.584 304.163 361.696 304.163 364.096Z" fill="#828282"/>
        <path d="M364.168 369.872H371.864V368.656H366.36C368.424 366.976 371.528 364.528 371.528 361.648C371.528 359.504 370.12 358.224 367.944 358.224C365.864 358.224 364.312 359.504 364.216 361.968H365.624C365.688 360.512 366.456 359.472 367.96 359.472C369.528 359.472 370.088 360.432 370.088 361.712C370.088 364.08 367.208 366.384 364.168 368.832V369.872ZM373.547 364.096C373.547 367.456 374.379 370 377.579 370C380.763 370 381.595 367.456 381.595 364.096C381.595 360.784 380.763 358.256 377.579 358.256C374.379 358.256 373.547 360.784 373.547 364.096ZM380.155 364.096C380.155 366.592 379.851 368.672 377.579 368.672C375.291 368.672 374.987 366.592 374.987 364.096C374.987 361.696 375.291 359.584 377.579 359.584C379.851 359.584 380.155 361.696 380.155 364.096ZM383.594 364.096C383.594 367.456 384.426 370 387.626 370C390.81 370 391.642 367.456 391.642 364.096C391.642 360.784 390.81 358.256 387.626 358.256C384.426 358.256 383.594 360.784 383.594 364.096ZM390.202 364.096C390.202 366.592 389.898 368.672 387.626 368.672C385.338 368.672 385.034 366.592 385.034 364.096C385.034 361.696 385.338 359.584 387.626 359.584C389.898 359.584 390.202 361.696 390.202 364.096Z" fill="#828282"/>
        <path d="M447.168 369.872H454.864V368.656H449.36C451.424 366.976 454.528 364.528 454.528 361.648C454.528 359.504 453.12 358.224 450.944 358.224C448.864 358.224 447.312 359.504 447.216 361.968H448.624C448.688 360.512 449.456 359.472 450.96 359.472C452.528 359.472 453.088 360.432 453.088 361.712C453.088 364.08 450.208 366.384 447.168 368.832V369.872ZM456.963 358.416V364.944H458.339C458.723 364.032 459.571 363.424 460.739 363.424C462.419 363.424 463.267 364.384 463.267 366.032C463.267 367.616 462.483 368.8 460.723 368.8C459.363 368.8 458.419 368.08 458.147 366.864H456.723C457.011 368.736 458.403 370.032 460.707 370.032C463.411 370.032 464.659 368.24 464.659 366C464.659 364.208 463.763 362.176 460.947 362.176C459.811 362.176 458.787 362.688 458.307 363.344V359.696H463.923V358.416H456.963ZM466.594 364.096C466.594 367.456 467.426 370 470.626 370C473.81 370 474.642 367.456 474.642 364.096C474.642 360.784 473.81 358.256 470.626 358.256C467.426 358.256 466.594 360.784 466.594 364.096ZM473.202 364.096C473.202 366.592 472.898 368.672 470.626 368.672C468.338 368.672 468.034 366.592 468.034 364.096C468.034 361.696 468.338 359.584 470.626 359.584C472.898 359.584 473.202 361.696 473.202 364.096Z" fill="#828282"/>
        <rect x="45.5" y="58.5" width="497" height="276.691" fill="url(#pattern0)" stroke="#221D34"/>
        <rect x="45.5" y="58.5" width="497" height="277" stroke="#221D34"/>
        <path d="M622.072 86.256C622.072 89.568 622.744 92.08 625.816 92.08C628.872 92.08 629.544 89.568 629.544 86.256C629.544 82.976 628.872 80.496 625.816 80.496C622.744 80.496 622.072 82.976 622.072 86.256ZM628.84 86.256C628.84 89.152 628.408 91.424 625.816 91.424C623.224 91.424 622.792 89.152 622.792 86.256C622.792 83.408 623.224 81.152 625.816 81.152C628.408 81.152 628.84 83.408 628.84 86.256ZM632.433 91.424C632.433 91.056 632.161 90.8 631.825 90.8C631.473 90.8 631.201 91.056 631.201 91.424C631.201 91.792 631.473 92.048 631.825 92.048C632.161 92.048 632.433 91.792 632.433 91.424ZM634.088 86.256C634.088 89.568 634.76 92.08 637.832 92.08C640.888 92.08 641.56 89.568 641.56 86.256C641.56 82.976 640.888 80.496 637.832 80.496C634.76 80.496 634.088 82.976 634.088 86.256ZM640.856 86.256C640.856 89.152 640.424 91.424 637.832 91.424C635.24 91.424 634.808 89.152 634.808 86.256C634.808 83.408 635.24 81.152 637.832 81.152C640.424 81.152 640.856 83.408 640.856 86.256ZM651.185 83.488C650.961 81.744 649.873 80.464 647.809 80.464C644.849 80.464 643.777 82.784 643.777 86.4C643.777 89.472 644.465 92.08 647.937 92.08C650.561 92.08 651.617 90.272 651.617 88.336C651.617 85.92 650.241 84.448 647.937 84.448C646.241 84.448 644.785 85.344 644.433 86.848C644.289 82.624 645.585 81.072 647.809 81.072C649.409 81.072 650.273 81.984 650.497 83.488H651.185ZM647.825 85.072C649.761 85.072 650.913 86.24 650.913 88.352C650.913 90.304 649.713 91.472 647.905 91.472C645.537 91.472 644.561 89.792 644.561 88.08C644.561 86.016 646.273 85.072 647.825 85.072Z" fill="#828282"/>
        <path d="M622.072 126.256C622.072 129.568 622.744 132.08 625.816 132.08C628.872 132.08 629.544 129.568 629.544 126.256C629.544 122.976 628.872 120.496 625.816 120.496C622.744 120.496 622.072 122.976 622.072 126.256ZM628.84 126.256C628.84 129.152 628.408 131.424 625.816 131.424C623.224 131.424 622.792 129.152 622.792 126.256C622.792 123.408 623.224 121.152 625.816 121.152C628.408 121.152 628.84 123.408 628.84 126.256ZM632.433 131.424C632.433 131.056 632.161 130.8 631.825 130.8C631.473 130.8 631.201 131.056 631.201 131.424C631.201 131.792 631.473 132.048 631.825 132.048C632.161 132.048 632.433 131.792 632.433 131.424ZM634.088 126.256C634.088 129.568 634.76 132.08 637.832 132.08C640.888 132.08 641.56 129.568 641.56 126.256C641.56 122.976 640.888 120.496 637.832 120.496C634.76 120.496 634.088 122.976 634.088 126.256ZM640.856 126.256C640.856 129.152 640.424 131.424 637.832 131.424C635.24 131.424 634.808 129.152 634.808 126.256C634.808 123.408 635.24 121.152 637.832 121.152C640.424 121.152 640.856 123.408 640.856 126.256ZM643.969 120.624V126.768H644.641C645.201 125.744 646.289 125.088 647.665 125.088C649.665 125.088 650.721 126.272 650.721 128.16C650.721 130.032 649.745 131.44 647.601 131.44C646.017 131.44 644.817 130.576 644.481 128.912H643.777C644.081 130.848 645.505 132.08 647.601 132.08C650.305 132.08 651.409 130.224 651.409 128.144C651.409 126.32 650.449 124.464 647.729 124.464C646.401 124.464 645.217 125.056 644.657 125.856V121.264H650.801V120.624H643.969Z" fill="#828282"/>
        <path d="M622.072 166.256C622.072 169.568 622.744 172.08 625.816 172.08C628.872 172.08 629.544 169.568 629.544 166.256C629.544 162.976 628.872 160.496 625.816 160.496C622.744 160.496 622.072 162.976 622.072 166.256ZM628.84 166.256C628.84 169.152 628.408 171.424 625.816 171.424C623.224 171.424 622.792 169.152 622.792 166.256C622.792 163.408 623.224 161.152 625.816 161.152C628.408 161.152 628.84 163.408 628.84 166.256ZM632.433 171.424C632.433 171.056 632.161 170.8 631.825 170.8C631.473 170.8 631.201 171.056 631.201 171.424C631.201 171.792 631.473 172.048 631.825 172.048C632.161 172.048 632.433 171.792 632.433 171.424ZM634.088 166.256C634.088 169.568 634.76 172.08 637.832 172.08C640.888 172.08 641.56 169.568 641.56 166.256C641.56 162.976 640.888 160.496 637.832 160.496C634.76 160.496 634.088 162.976 634.088 166.256ZM640.856 166.256C640.856 169.152 640.424 171.424 637.832 171.424C635.24 171.424 634.808 169.152 634.808 166.256C634.808 163.408 635.24 161.152 637.832 161.152C640.424 161.152 640.856 163.408 640.856 166.256ZM649.281 172H649.985V169.12H651.809V168.496H649.985V160.672H649.169L643.073 168.56V169.12H649.281V172ZM643.921 168.496L649.297 161.536V168.496H643.921Z" fill="#828282"/>
        <path d="M622.072 206.256C622.072 209.568 622.744 212.08 625.816 212.08C628.872 212.08 629.544 209.568 629.544 206.256C629.544 202.976 628.872 200.496 625.816 200.496C622.744 200.496 622.072 202.976 622.072 206.256ZM628.84 206.256C628.84 209.152 628.408 211.424 625.816 211.424C623.224 211.424 622.792 209.152 622.792 206.256C622.792 203.408 623.224 201.152 625.816 201.152C628.408 201.152 628.84 203.408 628.84 206.256ZM632.433 211.424C632.433 211.056 632.161 210.8 631.825 210.8C631.473 210.8 631.201 211.056 631.201 211.424C631.201 211.792 631.473 212.048 631.825 212.048C632.161 212.048 632.433 211.792 632.433 211.424ZM634.088 206.256C634.088 209.568 634.76 212.08 637.832 212.08C640.888 212.08 641.56 209.568 641.56 206.256C641.56 202.976 640.888 200.496 637.832 200.496C634.76 200.496 634.088 202.976 634.088 206.256ZM640.856 206.256C640.856 209.152 640.424 211.424 637.832 211.424C635.24 211.424 634.808 209.152 634.808 206.256C634.808 203.408 635.24 201.152 637.832 201.152C640.424 201.152 640.856 203.408 640.856 206.256ZM643.665 203.6H644.369C644.593 201.872 645.873 201.104 647.377 201.104C649.057 201.104 649.969 202.048 649.969 203.376C649.969 204.88 648.865 205.728 646.353 205.744H646.033V206.368H646.337C648.753 206.368 650.193 207.2 650.193 208.992C650.193 210.368 649.297 211.456 647.393 211.456C645.521 211.456 644.417 210.304 644.177 208.784H643.473C643.761 210.912 645.249 212.096 647.393 212.096C649.793 212.096 650.881 210.72 650.881 209.04C650.881 207.296 649.713 206.32 648.145 206.08V205.984C649.969 205.776 650.673 204.56 650.673 203.328C650.673 201.728 649.521 200.48 647.393 200.48C645.233 200.48 643.857 201.664 643.665 203.6Z" fill="#828282"/>
        <path d="M622.072 246.256C622.072 249.568 622.744 252.08 625.816 252.08C628.872 252.08 629.544 249.568 629.544 246.256C629.544 242.976 628.872 240.496 625.816 240.496C622.744 240.496 622.072 242.976 622.072 246.256ZM628.84 246.256C628.84 249.152 628.408 251.424 625.816 251.424C623.224 251.424 622.792 249.152 622.792 246.256C622.792 243.408 623.224 241.152 625.816 241.152C628.408 241.152 628.84 243.408 628.84 246.256ZM632.433 251.424C632.433 251.056 632.161 250.8 631.825 250.8C631.473 250.8 631.201 251.056 631.201 251.424C631.201 251.792 631.473 252.048 631.825 252.048C632.161 252.048 632.433 251.792 632.433 251.424ZM634.088 246.256C634.088 249.568 634.76 252.08 637.832 252.08C640.888 252.08 641.56 249.568 641.56 246.256C641.56 242.976 640.888 240.496 637.832 240.496C634.76 240.496 634.088 242.976 634.088 246.256ZM640.856 246.256C640.856 249.152 640.424 251.424 637.832 251.424C635.24 251.424 634.808 249.152 634.808 246.256C634.808 243.408 635.24 241.152 637.832 241.152C640.424 241.152 640.856 243.408 640.856 246.256ZM643.441 251.952H650.993V251.344H644.609C647.073 249.728 650.625 246.704 650.625 243.728C650.625 241.456 649.105 240.48 647.297 240.48C645.169 240.48 643.777 241.84 643.633 244.192H644.337C644.449 242.448 645.361 241.104 647.297 241.104C649.297 241.104 649.921 242.352 649.921 243.744C649.921 246.272 647.073 248.96 643.441 251.472V251.952Z" fill="#828282"/>
        <path d="M622.072 286.256C622.072 289.568 622.744 292.08 625.816 292.08C628.872 292.08 629.544 289.568 629.544 286.256C629.544 282.976 628.872 280.496 625.816 280.496C622.744 280.496 622.072 282.976 622.072 286.256ZM628.84 286.256C628.84 289.152 628.408 291.424 625.816 291.424C623.224 291.424 622.792 289.152 622.792 286.256C622.792 283.408 623.224 281.152 625.816 281.152C628.408 281.152 628.84 283.408 628.84 286.256ZM632.433 291.424C632.433 291.056 632.161 290.8 631.825 290.8C631.473 290.8 631.201 291.056 631.201 291.424C631.201 291.792 631.473 292.048 631.825 292.048C632.161 292.048 632.433 291.792 632.433 291.424ZM634.088 286.256C634.088 289.568 634.76 292.08 637.832 292.08C640.888 292.08 641.56 289.568 641.56 286.256C641.56 282.976 640.888 280.496 637.832 280.496C634.76 280.496 634.088 282.976 634.088 286.256ZM640.856 286.256C640.856 289.152 640.424 291.424 637.832 291.424C635.24 291.424 634.808 289.152 634.808 286.256C634.808 283.408 635.24 281.152 637.832 281.152C640.424 281.152 640.856 283.408 640.856 286.256ZM644.657 292H645.377V280.624H643.009V281.28H644.657V292Z" fill="#828282"/>
        <path d="M622.072 325.256C622.072 328.568 622.744 331.08 625.816 331.08C628.872 331.08 629.544 328.568 629.544 325.256C629.544 321.976 628.872 319.496 625.816 319.496C622.744 319.496 622.072 321.976 622.072 325.256ZM628.84 325.256C628.84 328.152 628.408 330.424 625.816 330.424C623.224 330.424 622.792 328.152 622.792 325.256C622.792 322.408 623.224 320.152 625.816 320.152C628.408 320.152 628.84 322.408 628.84 325.256ZM632.433 330.424C632.433 330.056 632.161 329.8 631.825 329.8C631.473 329.8 631.201 330.056 631.201 330.424C631.201 330.792 631.473 331.048 631.825 331.048C632.161 331.048 632.433 330.792 632.433 330.424ZM634.088 325.256C634.088 328.568 634.76 331.08 637.832 331.08C640.888 331.08 641.56 328.568 641.56 325.256C641.56 321.976 640.888 319.496 637.832 319.496C634.76 319.496 634.088 321.976 634.088 325.256ZM640.856 325.256C640.856 328.152 640.424 330.424 637.832 330.424C635.24 330.424 634.808 328.152 634.808 325.256C634.808 322.408 635.24 320.152 637.832 320.152C640.424 320.152 640.856 322.408 640.856 325.256ZM643.713 325.256C643.713 328.568 644.385 331.08 647.457 331.08C650.513 331.08 651.185 328.568 651.185 325.256C651.185 321.976 650.513 319.496 647.457 319.496C644.385 319.496 643.713 321.976 643.713 325.256ZM650.481 325.256C650.481 328.152 650.049 330.424 647.457 330.424C644.865 330.424 644.433 328.152 644.433 325.256C644.433 322.408 644.865 320.152 647.457 320.152C650.049 320.152 650.481 322.408 650.481 325.256Z" fill="#828282"/>
        <line x1="602" y1="85.5" x2="613" y2="85.5" stroke="#221D34"/>
        <line x1="602" y1="125.5" x2="613" y2="125.5" stroke="#221D34"/>
        <line x1="602" y1="165.5" x2="613" y2="165.5" stroke="#221D34"/>
        <line x1="602" y1="205.5" x2="613" y2="205.5" stroke="#221D34"/>
        <line x1="602" y1="245.5" x2="613" y2="245.5" stroke="#221D34"/>
        <line x1="602" y1="285.5" x2="613" y2="285.5" stroke="#221D34"/>
        <line x1="602" y1="325.5" x2="613" y2="325.5" stroke="#221D34"/>
        <rect x="588" y="58" width="14" height="278" fill="url(#paint0_linear_24_545)"/>
        <rect x="587.5" y="58.5" width="15" height="277" stroke="#221D34"/>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_24_545" transform="translate(-0.259413 -0.868481) scale(0.00200852 0.00361646)"/>
        </pattern>
        <linearGradient id="paint0_linear_24_545" x1="595" y1="58" x2="595" y2="336" gradientUnits="userSpaceOnUse">
        <stop stop-color="#6B1413"/>
        <stop offset="0.101942" stop-color="#F71613"/>
        <stop offset="0.24418" stop-color="#FF8F15"/>
        <stop offset="0.391544" stop-color="#D5FF2D"/>
        <stop offset="0.533783" stop-color="#64FE9C"/>
        <stop offset="0.676021" stop-color="#18CCFF"/>
        <stop offset="0.824666" stop-color="#0938FC"/>
        <stop offset="0.966905" stop-color="#0F0CA3"/>
        <stop offset="1" stop-color="#0A0A6E"/>
        </linearGradient>
        <image id="image0_24_545" width="816" height="656" xlink:href="/img/dashboardInframeVision.png"></image>
        </defs>
    </svg>

</right_area>
