<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    //Тут располагаем инофрмацию для графиков температуры
    var temperature_mounths = new Array();
    var temperature_values  = new Array();

    {{#each this.Temperature}}
        temperature_mounths.push("{{this.mounth}}");
        temperature_values.push("{{this.value}}");
    {{/each}}
    
    //Тут располагаем инофрмацию для графиков влажности
    var Humidity_values = new Array();
    var humidity_hours = new Array();

    {{#each this.Humidity}}
        humidity_hours.push("{{this.hour}}");
        Humidity_values.push("{{this.value}}");
    {{/each}}

</script>

<script type="module" src="javascript/dashboard.js"></script>

<div class="content">

    <div class="dash_board_container">
        <div class="layout_charts">
            <div>
                <div class="chart_title"> Temperature ℃ </div>
                <canvas class="chart" id="myChart"></canvas>
            </div>

            <div>
                <div class="chart_title"> Humidity % </div>
                <canvas class="chart" id="myChart2"></canvas>
            </div>

            <div>
                <div class="chart_title"> FCR </div>
                <canvas class="chart" id="myChart3"></canvas>
            </div>
            
        </div>

        <div class="dashboard_meta_coontainer">

            <div class="dashboard_meta_data">
                 <div> Surface pressure: 1016.1 hPa  </div>
            </div>
           
            <div class="dashboard_meta_data">
                 <div> Facility lighting: 312 lux  </div>
            </div>

            <div class="dashboard_meta_data">
                 <div> Feed amount in stock: 138kg  </div>
            </div>

            <div class="dashboard_meta_data">
                 <div> Surface pressure: 1016.1 hPa  </div>
            </div>
           
            <div class="dashboard_meta_data">
                 <div> Facility lighting: 312 lux  </div>
            </div>

            <div class="dashboard_meta_data">
                 <div> Feed amount in stock: 138kg  </div>
            </div>

        </div>


    </div>

</div>