<link rel="stylesheet" type="text/css" href="css/t_pageStyle.css">

<a id="pageName" style="display: none;" name="reproduct"> </a>

<div class="content">
    <div class="nersery_header_container">

        <button class="nersery_btn_add_colony"> Add Colony</button>

        <div class="meta_info_quantity">
            <div class="meta_info_label">
                Quantity of colonies
            </div>
            <div class="meta_info_circle">
                5
            </div>
        </div>

         <div class="meta_info_transferred">
            <div class="meta_info_label">
                To be transferred today
            </div>
            <div class="meta_info_circle">
                6
            </div>
        </div>

        <select id="selectID" class="nersery_dropdown_list_sort">
            <option>N</option>
            <option value=”GR”>Green</option>
            <option value=”YE”>Yellow</option>
            <option value=”BL”>Black</option>
        </select>

    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>start</th>
                <th>id</th>
                <th>harvest</th>
                <th>stage</th>
                <th>trays</th>
                <th>location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="dashboard" class="rowlink"></a>14.01.23</td>
                <td>1</td>
                <td>30.01.23</td>
                <td>incubation</td>
                <td>4</td>
                <td>11</td>
            </tr>
            <tr>
                <td><a href="dashboard" class="rowlink"></a>14.01.23</td>
                <td>1</td>
                <td>30.01.23</td>
                <td>incubation</td>
                <td>4</td>
                <td>11</td>
            </tr>
            <tr>
                <td><a href="dashboard" class="rowlink"></a>14.01.23</td>
                <td>1</td>
                <td>30.01.23</td>
                <td>incubation</td>
                <td>4</td>
                <td>11</td>
            </tr>
            <tr>
                <td><a href="dashboard" class="rowlink"></a>14.01.23</td>
                <td>1</td>
                <td>30.01.23</td>
                <td>incubation</td>
                <td>4</td>
                <td>11</td>
            </tr>
            <tr>
                <td><a href="dashboard" class="rowlink"></a>14.01.23</td>
                <td>1</td>
                <td>30.01.23</td>
                <td>incubation</td>
                <td>4</td>
                <td>11</td>
            </tr>
            <tr>
                <td><a href="dashboard" class="rowlink"></a>14.01.23</td>
                <td>1</td>
                <td>30.01.23</td>
                <td>incubation</td>
                <td>4</td>
                <td>11</td>
            </tr>
            
        </tbody>
    </table>
</div>