.dashboard_meta_coontainer
{
    display: flex;
    flex-direction: column;
}

.dashboard_meta_data
{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    width: 300px;
    margin-left: 60px;
    font-size: 14px;
    padding-top: 10%;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
}

.dashboard_meta_data .key
{
    color: #3ECD81;
    margin-right: 10px;
}

.dashboard_meta_data .value
{
    color: #F5F4F6;
}

.dashboard_meta_data_header_container
{
    color: rgb(56, 87, 35);
    font-size: 14px;
    font-family: 'Russo-one';
    display: flex;
    flex-direction: row;
}

.dashboard_meta_data_header_container .moon_link
{
    padding-top: 5%;
    text-align: center;
}

.dashboard_meta_data_header_container .moon_link .moon_title
{
    color: rgb(56, 87, 35);
    text-decoration: none;
}

.dashboard_meta_data_header_container .moon_link .moon_title:hover
{
    color: #FC641E;
}

.dashboard_notifications
{
    height: 300px;
    width: 90%;
    border-radius: 30px;
    margin-bottom: 5%;
    background-color: #171429;
}

.dashboard_notifications_title
{
    padding-left: 40px;
    padding-top: 35px;
    margin-bottom: 15px;
    color: #3ECD81;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins';
}



.dashboard_notifications_checkboxs
{
    overflow-y: scroll;
    color: #F5F4F6;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 20px;
    max-height: 185px;
    
    /* display: inline;
    flex-direction: column; */
}

.dashboard_notifications_checkboxs::-webkit-scrollbar {
    
    width: 20px;               /* ширина scrollbar */
}
.dashboard_notifications_checkboxs::-webkit-scrollbar-track {
    
    background: none;        /* цвет дорожки */
   
}

.dashboard_notifications_checkboxs::-webkit-scrollbar-thumb {
    scroll-margin-right: 20px;
    scroll-padding-right: 20px;
    background-color: #221D34;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 7px solid #171429;
}

.dashboard_notifications_checkbox
{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    align-items: center;
}


.dashboard_notifications_item
{
    margin-left: 15px;
}

.dashboard_notifications_checkbox input[type=checkbox]
{
    display: none;
    visibility: hidden;
}

.dashboard_notifications_checkbox input[type=checkbox]:checked ~ .border .circle
{
    background-color: #3ECD81;
}

.dashboard_notifications_checkbox .border
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: #3ECD81 solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard_notifications_checkbox .circle
{
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: unset;
}


.dashboard_notifications_checkbox .date
{
    color: Gray;
    font-family: 'Poppins';
    margin-left: auto;
    margin-right: 30px;
}

.dashboard_scoreboard_box
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    width: 90%;
}

.dashboard_scoreboard_box .section
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-right: auto;
}

.dashboard_scoreboard_box .section:nth-child(2)
{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    margin-left: auto;
}

.dashboard_scoreboard_box .section .firstrow
{
    height: 76px;
    width: 48%;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: #171429;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Poppins';
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.dashboard_scoreboard_box .section .firstrow label
{
    margin-left: 40px;
    margin-right: 20px;
    color: #3ECD81;
}

.dashboard_scoreboard_box .section .firstrow .score
{
    color: #F5F4F6;
}

.dashboard_scoreboard_box .section .firstrow:nth-child(2)
{
    margin-right: 0px;
    margin-left: auto;
}

.dashboard_scoreboard_box .section .secondrow
{
    height: 234px;
    width: 48%;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: #171429;
    font-size: 21px;

    font-family: 'Poppins';
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}


.dashboard_scoreboard_box .section .secondrow .title
{
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: #3ECD81;
}

.dashboard_scoreboard_box .section .secondrow .line
{
    margin-top: 16px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.dashboard_scoreboard_box .section .secondrow .line label
{
    margin-right: 20px;
    font-weight:100;
    color: #F5F4F6;
}

.dashboard_scoreboard_box .section .secondrow .line .score
{
    font-weight:bold;
    color: #F5F4F6;
}

.dashboard_scoreboard_box .section .secondrow:nth-child(2)
{
    margin-right: 0px;
    margin-left: auto;
}

.dashboard_scoreboard_box .section .thirdrow
{
    height: 190px;
    width: 48%;
    border-radius: 30px;
    margin-bottom: 30px;
    background-color: #171429;
    font-size: 21px;

    font-family: 'Poppins';
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}


.dashboard_scoreboard_box .section .thirdrow .title
{
    margin-top: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: #F2C94C;
}

.dashboard_scoreboard_box .section .thirdrow .line
{
    margin-top: 16px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.dashboard_scoreboard_box .section .thirdrow .line label
{
    margin-right: 20px;
    font-weight:100;
    color: #F5F4F6;
}

.dashboard_scoreboard_box .section .thirdrow .line .score
{
    font-weight:bold;
    color: #F5F4F6;
}

.dashboard_scoreboard_box .section .thirdrow:nth-child(2)
{
    margin-right: 0px;
    margin-left: auto;
}

.dashboard_scoreboard_box .section .thirdrow:nth-child(2) .title
{
    color:#3ECD81;
}

.layout_charts
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.chart_title
{
    margin-left: 60px;
    margin-top: 30px;

    color: #3ECD81;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 18px;
}

.chart
{
    margin-top: 30px;
    margin-left: 60px;
    padding-right: 20px;
    padding-top: 30px;
    max-width: 100%;
    max-height: 400px;
}

center_area{
    height: 800px;
}