@font-face
{
    font-family: 'Poppins';
    src: url(/fonts/Poppinsregular.ttf);
}


menu item
{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    max-height: 80px;
    font-size: 15px;
    font-family: 'Poppins';
}

menu item .container
{
    border-radius: 50px 0px 0px 50px;
    display: flex;
    flex-direction: row;
}


menu .first_item
{
    margin-top: 60px;
}

menu .item_select
{
    z-index: 1;
    margin-right:0px ;
    opacity: .0;
    transform: translateX(2px);
    
}


menu .item_link
{
    color: rgba(255, 255, 255, 0.6);
    transition: .3s;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 58px;
    margin-left: 30px;
    transform: translate(-15px, -1px);
}


menu .divider
{
    margin-top: 40px;
}

menu .icon
{
    margin-right: 10px;
    cursor: pointer;
}


menu a:hover
{
    color: #3ECD81;
    fill: aqua;
}

menu item a
{
    text-decoration: none;
}
