.body {
    top:-16px;
    width: 1210px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
    min-height: max(1950px, 100%);
    height: 2249.99px;
    background: none rgb(255, 255, 255);
}

.menu {
    margin-right: auto;
    width: initial;
    min-width: 256px;
    min-height: 800px;
    inset: 0px;
    max-width: 256px;
    height: initial;
    max-height: 800px;
    position: absolute;
    z-index: 1503;
    background-color: rgb(247, 247, 247);
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 10%) 4px 0px 4px 0px;
}

.content {
    z-index: 2;
    top: -8px;
    left: 256px;
    width: 1022px;
    height: 1811px;
    overflow: visible;
    border-radius: 0px;
    position: absolute;
}


.container {
    z-index: 0;
    left: 19px;
    width: 956px;
    height: 475px;
    overflow: visible;
    background-color: rgb(247, 247, 247);
    border-radius: 39px;
    box-shadow: rgb(0 0 0 / 10%) 4px 4px 4px 0px;
    position: absolute;
}