.btn_changeTheme
{
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0%;
}


.btn_changeTheme__Box
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 60px;
    border: solid 2px rgba(255, 255, 255, 0.384);
    border-radius: 30px;
}

.btn_changeTheme__Box .circle
{
    z-index: -1;
    transition: .6s;
    margin-left: 1px;
    height: 28px;
    width: 28px;
    background-color: rgb(222, 222, 222);
    border-radius: 100%;

}

.btn_changeTheme .light
{
    margin-left: 30px;
    position: absolute;
    fill: aqua;
}

.btn_changeTheme .dark
{
    margin-left: 1px;
    position: absolute;
    fill: aqua;
}

.btn_changeTheme input[type=checkbox]
{
    visibility: hidden;
}

.btn_changeTheme input[type=checkbox]:checked ~ .btn_changeTheme__Box .circle
{
    background-color: #363636;
    transform: translateX(30px);
}


/*
@EXAMPLE

<label class="btn_changeTheme">
    <input type="checkbox">
    <div class="btn_changeTheme__Box">

        <svg class="light" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5779 8.83299C12.5154 8.78129 12.4396 8.74819 12.3591 8.73747C12.2787 8.72674 12.1968 8.73882 12.1229 8.77233C11.6647 8.98201 11.1665 9.08993 10.6626 9.08866C9.73043 9.08753 8.83652 8.71792 8.17576 8.0604C7.515 7.40289 7.14098 6.51081 7.13526 5.57866C7.13724 5.28652 7.1736 4.99563 7.2436 4.71199C7.25845 4.63639 7.25288 4.5582 7.22746 4.48547C7.20204 4.41274 7.15768 4.3481 7.09897 4.29822C7.04025 4.24833 6.9693 4.215 6.89342 4.20166C6.81754 4.18832 6.73947 4.19546 6.66726 4.22233C5.98794 4.52779 5.39741 5.00092 4.95116 5.59729C4.50491 6.19365 4.21758 6.89366 4.11616 7.63157C4.01475 8.36948 4.10258 9.12105 4.37141 9.81569C4.64023 10.5103 5.08123 11.1252 5.65296 11.6026C6.22469 12.08 6.9084 12.4043 7.63986 12.5448C8.37131 12.6854 9.1265 12.6378 9.83447 12.4064C10.5425 12.1749 11.18 11.7673 11.6872 11.2219C12.1944 10.6764 12.5546 10.0109 12.7339 9.28799C12.7558 9.20522 12.7526 9.11784 12.7249 9.03686C12.6971 8.95588 12.646 8.88495 12.5779 8.83299ZM8.46126 11.732C7.73403 11.7269 7.02615 11.4971 6.43456 11.0741C5.84297 10.6511 5.39658 10.0556 5.15653 9.36908C4.91647 8.68259 4.89447 7.93867 5.09354 7.23919C5.29262 6.53972 5.70303 5.91887 6.2686 5.46166V5.57866C6.26974 6.74367 6.73305 7.86063 7.55684 8.68442C8.38062 9.50821 9.49759 9.97151 10.6626 9.97266C10.9685 9.97378 11.2736 9.94182 11.5726 9.87733C11.2736 10.4431 10.8257 10.9164 10.2774 11.2463C9.72913 11.5762 9.10116 11.7501 8.46126 11.7493V11.732Z" fill="#282828"/>
        </svg>
        
        <svg class="dark" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5666 8.39974C5.5666 8.28481 5.52095 8.17459 5.43968 8.09333C5.35842 8.01206 5.2482 7.96641 5.13327 7.96641H4.69993C4.58501 7.96641 4.47479 8.01206 4.39352 8.09333C4.31226 8.17459 4.2666 8.28481 4.2666 8.39974C4.2666 8.51467 4.31226 8.62489 4.39352 8.70615C4.47479 8.78742 4.58501 8.83307 4.69993 8.83307H5.13327C5.2482 8.83307 5.35842 8.78742 5.43968 8.70615C5.52095 8.62489 5.5666 8.51467 5.5666 8.39974ZM5.84393 10.5664L5.53627 10.8741C5.45556 10.9553 5.41026 11.0651 5.41026 11.1796C5.41026 11.2941 5.45556 11.4039 5.53627 11.4851C5.61746 11.5658 5.72729 11.6111 5.84177 11.6111C5.95625 11.6111 6.06608 11.5658 6.14727 11.4851L6.45494 11.1774C6.52593 11.0945 6.56302 10.9879 6.55881 10.8788C6.5546 10.7698 6.50939 10.6663 6.43221 10.5891C6.35504 10.512 6.25158 10.4667 6.14252 10.4625C6.03347 10.4583 5.92683 10.4954 5.84393 10.5664ZM8.59994 5.36641C8.71486 5.36641 8.82508 5.32075 8.90635 5.23949C8.98761 5.15822 9.03327 5.048 9.03327 4.93307V4.49974C9.03327 4.38481 8.98761 4.27459 8.90635 4.19333C8.82508 4.11206 8.71486 4.06641 8.59994 4.06641C8.48501 4.06641 8.37479 4.11206 8.29352 4.19333C8.21226 4.27459 8.1666 4.38481 8.1666 4.49974V4.93307C8.1666 5.048 8.21226 5.15822 8.29352 5.23949C8.37479 5.32075 8.48501 5.36641 8.59994 5.36641ZM11.0526 6.38041C11.1663 6.37993 11.2752 6.3348 11.3559 6.25474L11.6636 5.94707C11.709 5.90823 11.7458 5.86042 11.7718 5.80666C11.7978 5.7529 11.8124 5.69434 11.8147 5.63466C11.8171 5.57498 11.807 5.51547 11.7852 5.45987C11.7634 5.40426 11.7304 5.35375 11.6881 5.31152C11.6459 5.26929 11.5954 5.23625 11.5398 5.21446C11.4842 5.19268 11.4247 5.18262 11.365 5.18493C11.3053 5.18723 11.2468 5.20185 11.193 5.22786C11.1393 5.25387 11.0914 5.29071 11.0526 5.33607L10.7666 5.64374C10.6859 5.72493 10.6406 5.83476 10.6406 5.94924C10.6406 6.06372 10.6859 6.17355 10.7666 6.25474C10.843 6.33073 10.945 6.37553 11.0526 6.38041ZM5.8526 6.25474C5.93331 6.3348 6.04225 6.37993 6.15593 6.38041C6.21296 6.38074 6.2695 6.36981 6.32229 6.34824C6.37509 6.32668 6.42311 6.2949 6.4636 6.25474C6.54431 6.17355 6.58961 6.06372 6.58961 5.94924C6.58961 5.83476 6.54431 5.72493 6.4636 5.64374L6.15593 5.33607C6.11582 5.29538 6.06808 5.263 6.01544 5.24076C5.9628 5.21852 5.9063 5.20687 5.84917 5.20647C5.79203 5.20606 5.73537 5.21692 5.68242 5.23841C5.62948 5.25991 5.58129 5.29162 5.5406 5.33174C5.49991 5.37186 5.46753 5.4196 5.44529 5.47223C5.42305 5.52487 5.4114 5.58137 5.411 5.63851C5.41018 5.75391 5.45524 5.8649 5.53627 5.94707L5.8526 6.25474ZM12.4999 7.96641H12.0666C11.9517 7.96641 11.8415 8.01206 11.7602 8.09333C11.6789 8.17459 11.6333 8.28481 11.6333 8.39974C11.6333 8.51467 11.6789 8.62489 11.7602 8.70615C11.8415 8.78742 11.9517 8.83307 12.0666 8.83307H12.4999C12.6149 8.83307 12.7251 8.78742 12.8063 8.70615C12.8876 8.62489 12.9333 8.51467 12.9333 8.39974C12.9333 8.28481 12.8876 8.17459 12.8063 8.09333C12.7251 8.01206 12.6149 7.96641 12.4999 7.96641ZM11.3559 10.5664C11.2736 10.5206 11.1786 10.5029 11.0853 10.5159C10.992 10.529 10.9055 10.5721 10.8389 10.6387C10.7723 10.7053 10.7292 10.7918 10.7161 10.8851C10.7031 10.9784 10.7208 11.0734 10.7666 11.1557L11.0743 11.4634C11.1555 11.5441 11.2653 11.5894 11.3798 11.5894C11.4942 11.5894 11.6041 11.5441 11.6853 11.4634C11.766 11.3822 11.8113 11.2724 11.8113 11.1579C11.8113 11.0434 11.766 10.9336 11.6853 10.8524L11.3559 10.5664ZM8.59994 6.01641C8.12856 6.01641 7.66776 6.15619 7.27583 6.41807C6.88389 6.67995 6.57841 7.05218 6.39802 7.48768C6.21763 7.92317 6.17044 8.40238 6.2624 8.86471C6.35436 9.32703 6.58135 9.7517 6.91466 10.085C7.24798 10.4183 7.67265 10.6453 8.13497 10.7373C8.59729 10.8292 9.0765 10.782 9.512 10.6017C9.94749 10.4213 10.3197 10.1158 10.5816 9.72385C10.8435 9.33191 10.9833 8.87112 10.9833 8.39974C10.9821 7.76799 10.7307 7.16245 10.2839 6.71573C9.83723 6.26902 9.23168 6.01755 8.59994 6.01641ZM8.59994 9.91641C8.29997 9.91641 8.00673 9.82746 7.75732 9.6608C7.50791 9.49415 7.31351 9.25728 7.19872 8.98014C7.08392 8.70301 7.05389 8.39806 7.11241 8.10385C7.17093 7.80965 7.31538 7.5394 7.52749 7.32729C7.7396 7.11518 8.00984 6.97074 8.30405 6.91222C8.59825 6.85369 8.9032 6.88373 9.18034 6.99852C9.45747 7.11332 9.69434 7.30771 9.861 7.55712C10.0277 7.80654 10.1166 8.09977 10.1166 8.39974C10.1166 8.80198 9.95681 9.18775 9.67238 9.47218C9.38795 9.75661 9.00218 9.91641 8.59994 9.91641ZM8.59994 11.4331C8.48501 11.4331 8.37479 11.4787 8.29352 11.56C8.21226 11.6413 8.1666 11.7515 8.1666 11.8664V12.2997C8.1666 12.4147 8.21226 12.5249 8.29352 12.6062C8.37479 12.6874 8.48501 12.7331 8.59994 12.7331C8.71486 12.7331 8.82508 12.6874 8.90635 12.6062C8.98761 12.5249 9.03327 12.4147 9.03327 12.2997V11.8664C9.03327 11.7515 8.98761 11.6413 8.90635 11.56C8.82508 11.4787 8.71486 11.4331 8.59994 11.4331Z" fill="#EBEBEB"/>
        </svg>
            
        <div class="circle"></div>
    </div>
</label>
*/