<link rel="stylesheet" type="text/css" href="/css/nursery/incubationBoxStyle.css">

<a id="pageName" style="display: none;" name="nursery"> </a>

<container>
    <div class="inc_box_btn_back_box" onclick="location.href='/nursery';">
        <img src="/img/nursery/incubation_box/btn_back.svg">
        <label>Back</label>
    </div>
    <div class="inc_box_upper_scoreboard_box">
        <div class="inc_box_upper_scoreboard">
            <div class="data">
                <label> Start </label>
                <info> 14.01.23</info>
            </div>
            <div class="data">
                <label> Collection </label>
                <info> 14.01.23</info>
            </div>
            <div class="data">
                <label> Age </label>
                <info> 14.01.23</info>
            </div>
        </div>
        <div class="inc_box_upper_scoreboard_right">
            <label> Status </label>
            <info> Not placed </info>
        </div>
    </div>
    <div class="inc_box_table">
        <table cellspacing="0">
            <tr>
                <th>Incubation box:</th>
                <th>Colony ID</th>
                <th>Weight of eggs</th>
                <th>Fly cage</th>
                <th>Feed type</th>
                <th>Total feed</th>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
        </table>
    </div>
    <div class="inc_box_hatching_title">
        Hatching
    </div>
    <div class="inc_box_hatching_scoreboard">
        <div class="item">
            <label> Hathcing: </label>
            <info> 3 % </info>
        </div>
        <div class="item">
            <label> Neonates count: </label>
            <info> 3 % </info>
        </div>
        <div class="item">
            <label> Neonates weight: </label>
            <info> 3 % </info>
        </div>
    </div>
    <div class="inc_box_hatching_btn_box">
        <button> Hatching </button>
        <button> Place </button>
    </div>
</container>