<link rel="stylesheet" type="text/css" href="/css/nursery/incubationBoxStyle.css">
<script type="module" src="/javascript/nursery/nurseryIncubationCartScript.js"></script>


<a id="pageName" style="display: none;" name="nursery"> </a>



<div class="incubationBoxModal" id="incubationBoxModal_hatching">
    <div class="container hatching">

        <div class="btn_close" id="btn_close_hatching">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.75383 13.9534L7.36583 7.36603M13.9778 0.778701L7.36583 7.36603M7.36583 7.36603L0.759561 0.772971M7.36583 7.36603L13.9721 13.9591" stroke="white" stroke-opacity="0.8" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div class="title">
            Hatching
        </div>

        <form method="post" action="/nursery/incubationBox/{{{this.incubation_box_cart_id}}}/hatching">

            <label>% of hatching</label>
            <input name="prcnt_of_hatching" required="required" type="number" placeholder="Number of bins"/>

            <label>Neonates count</label>
            <input name="neonates_count" required="required" type="number" placeholder="Number of bins"/>
            
            <label>Neonates weight, g</label>
            <input name="neonates_weight" required="required" type="number" placeholder="Number of bins"/>

            <button class="btn_add_submit" type="submit"> Collect </button>
        </form>
        
    </div>
</div>

<div class="incubationBoxModal" id="incubationBoxModal_place">
    <div class="container hatching">

        <div class="btn_close" id="btn_close_place">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.75383 13.9534L7.36583 7.36603M13.9778 0.778701L7.36583 7.36603M7.36583 7.36603L0.759561 0.772971M7.36583 7.36603L13.9721 13.9591" stroke="white" stroke-opacity="0.8" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div class="title">
            Place
        </div>

        <form method="post" action="/nursery/incubationBox/{{{this.incubation_box_cart_id}}}/place">

            <label>Neonates tray</label>
            <input name="prcnt_of_hatching" required="required" type="number" placeholder="Number of bins"/>

            <label>Neonates weight, g</label>
            <input name="neonates_count" required="required" type="number" placeholder="Number of bins"/>
            
            <label>Colony ID</label>
            <input name="neonates_weight" required="required" type="number" placeholder="Number of bins"/>

            <button class="btn_add_submit" type="submit"> Place </button>
        </form>
        
    </div>
</div>

<container>



    
    <div class="inc_box_btn_back_box" onclick="location.href='/nursery';">
        <img src="/img/nursery/incubation_box/btn_back.svg">
        <label>Back</label>
    </div>
    <div class="inc_box_upper_scoreboard_box">
        <div class="inc_box_upper_scoreboard">
            <div class="data">
                <label> Start </label>
                <info> 14.01.23</info>
            </div>
            <div class="data">
                <label> Collection </label>
                <info> 14.01.23</info>
            </div>
            <div class="data">
                <label> Age </label>
                <info> 14.01.23</info>
            </div>
        </div>
        <div class="inc_box_upper_scoreboard_right">
            <label> Status </label>
            <info> Not placed </info>
        </div>
    </div>
    <div class="inc_box_table">
        <table cellspacing="0">
            <tr>
                <th>Incubation box:</th>
                <th>Colony ID</th>
                <th>Weight of eggs</th>
                <th>Fly cage</th>
                <th>Feed type</th>
                <th>Total feed</th>
            </tr>
            <tr>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
        </table>
    </div>
    <div class="inc_box_hatching_title">
        Hatching
    </div>
    <div class="inc_box_hatching_scoreboard">
        <div class="item">
            <label> Hathcing: </label>
            <info> 3 % </info>
        </div>
        <div class="item">
            <label> Neonates count: </label>
            <info> 3 % </info>
        </div>
        <div class="item">
            <label> Neonates weight: </label>
            <info> 3 % </info>
        </div>
    </div>
    <div class="inc_box_hatching_btn_box">
        <button id="btn_hatching"> Hatching </button>
        <button id="btn_place"> Place </button>
    </div>
</container>